.Chats {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    margin: 0 auto;
    overflow-y: auto;
}

.Chat {
    margin: 1.6rem 0;
    color: #fff;
    padding: 1.6rem;
    background: linear-gradient(90deg, #1986d8, #7b9cc2);
    max-width: 90%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
    cursor: pointer;
}

.Chat__close {
    display: none;
    transition: all .3s ease;
}

.Chat:hover > .Chat__close, .Chat:active > .Chat__close {
    position: absolute;
    display: flex;
    top: -.4rem;
    left: -.4rem;
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    
    color: #fff;
    background: #000;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor:pointer;
}

.Chat.is-user-msg {
    margin-left: auto;
    background: #2b2c33;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

@media (min-width: 576px){
    .Chat {
        max-width: 60%;
    }
}